body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav {
  color: white;
  background-color: seagreen;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 20px;
}
ul li {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  border-radius: 4px;
}

.modal {
  opacity: 0;
  transition: opacity 0.2s ease-out;
  padding: 0 20px;
  background-color: white;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.modal.show {
  opacity: 1;
  pointer-events: auto;
}
.modal h1 {
  padding: 20px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.modal label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.modal .container {
  width: 90%;
  margin: 0 auto;
}
.modal .inputText {
  padding: 15px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 20px;
  outline: none;
}
.modal p {
  margin-top: 40px;
  color: gray;
}

.btn {
  background-color: seagreen;
  color: white;
  border: 0;
  padding: 16px 20px;
  min-width: 150px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  opacity: 0.8;
}

.btn-add {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
