body {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: lightslategray;
  color: white;
  padding: 20px;
}
nav h1 {
  margin: 0;
}

#list {
  list-style: none;
  padding-left: 0;
  margin: 0 20px;
}
#list li {
  padding: 25px 20px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 160ms ease-out, transform 160ms ease-out;
}

.modal {
  opacity: 0;
  transition: opacity 140ms ease-out, transform 140ms ease-out;
  padding-left: 20px;
  padding-right: 20px;
  background-color: lightslategray;
  height: 100vh;
  transform: translateY(80px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.modal.show {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}
.modal h1 {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}
.modal label {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}
.modal .container {
  width: 90%;
  margin: 0 auto;
}
.modal .inputText {
  padding: 15px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 100%;
  transition: opacity 200ms ease-out;
  margin-bottom: 20px;
}

.btn {
  background-color: slateblue;
  color: white;
  border: 0;
  padding: 15px 20px;
  min-width: 150px;
  font-size: 16px;
  font-weight: bold;
  min-height: 50px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 200ms ease-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  opacity: 0.8;
}

.btn-add {
  position: fixed;
  right: 40px;
  bottom: 40px;
  transition: opacity 160ms, transform 160ms;
}
.btn-add:active {
  transform: translate(1px, 1px);
}
